@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
button:focus,
button:active {
  border: none;
  outline: none;
  box-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

.navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 10px 100px;
}
.navbar .nav-items {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 40%;
  margin: 0;
  align-items: center;
}
.navbar .nav-items .nav-link {
  color: #837d87;
  list-style: none;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.4s ease;
}
.navbar .nav-items .nav-link:hover {
  color: #2b272f;
}
.navbar .nav-items #viewPlans {
  color: #2b272f;
  border: 2px solid #2b272f;
  padding: 8px 20px;
  transition: background-color 0.4s ease;
  transition: color 0.4s ease;
}
.navbar .nav-items #viewPlans:hover {
  background-color: #2b272f;
  color: #fff;
}
.navbar .menuToggleIcon {
  display: none;
}

.introSection {
  background: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #2d2640;
  padding: 75px 120px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 325px;
}
.introSection .leftShape {
  position: absolute;
  left: 0;
  top: 400px;
  width: 175px;
}
.introSection .leftShape img {
  max-width: 100%;
  height: auto;
}
.introSection .leftSection {
  width: 50%;
  height: 325px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}
.introSection .leftSection .line {
  width: 120px;
  border-top: 1px solid #fff;
}
.introSection .leftSection .headingDesc {
  display: flex;
  flex-flow: column;
}
.introSection .leftSection .headingDesc h1 {
  font-family: "DM Serif Display", serif;
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  margin: 0;
  line-height: 0.8;
}
.introSection .leftSection .headingDesc h6 {
  color: #fff;
  font-weight: 400;
  line-height: 1.6;
  font-size: 15px;
}
.introSection .leftSection .headingDesc .viewPlans {
  background: transparent;
  padding: 8px 20px;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Karla", sans-serif;
  align-self: flex-start;
  font-weight: 700;
  transition: background-color 0.4s ease;
  transition: color 0.4s ease;
  cursor: pointer;
}
.introSection .leftSection .headingDesc .viewPlans:hover {
  background-color: #fff;
  color: #2d2640;
}
.introSection .pic {
  width: 41%;
}
.introSection .pic img {
  max-width: 100%;
  height: auto;
}
.introSection .rightShape {
  display: none;
}

.featuresSection {
  height: 475px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 275px 120px 100px 120px;
}
.featuresSection .line {
  width: 120px;
  border-top: 1px solid #837d87;
}
.featuresSection .heading {
  font-family: "DM Serif Display", serif;
  font-size: 70px;
  font-weight: 400;
  margin: 0;
}
.featuresSection .cards {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.featuresSection .cards .card {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 225px;
  width: 325px;
}
.featuresSection .cards .card h2 {
  font-size: 25px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin-bottom: 0;
}
.featuresSection .cards .card p {
  color: #837d87;
  font-size: 14px;
}

.howWeWorkSection {
  background: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #2d2640;
  margin: 0px 120px 120px 120px;
  height: 225px;
  padding: 0px 75px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.howWeWorkSection h1 {
  font-weight: 400;
  width: 50%;
  font-size: 50px;
  color: #fff;
  font-family: "DM Serif Display", serif;
}
.howWeWorkSection button {
  background: transparent;
  padding: 8px 20px;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  transition: background-color 0.4s ease;
  transition: color 0.4s ease;
  cursor: pointer;
}
.howWeWorkSection button:hover {
  background-color: #fff;
  color: #2d2640;
}

.footer {
  background: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-color: #fafafa;
  display: flex;
  flex-flow: column;
  height: 275px;
  justify-content: space-around;
  padding: 50px 120px;
}
.footer .footerSocial {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.footer .socialLogos {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 12%;
}
.footer .socialLogos i {
  font-size: 25px;
  color: #837d87;
  transition: color 0.4s ease;
  cursor: pointer;
}
.footer .socialLogos i:hover {
  color: #2b272f;
}
.footer .line {
  width: 100%;
  border-top: 1px solid #837d87;
  opacity: 0.3;
  margin: 25px 0px;
}
.footer .links {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 85%;
}
.footer .links .first h5 {
  color: #2b272f;
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 700;
  cursor: pointer;
}
.footer .links .first h5:hover {
  text-decoration: underline;
}
.footer .links .first .title {
  color: #837d87;
  margin-bottom: 30px;
}
.footer .links .first .title:hover {
  cursor: default;
  text-decoration: none;
}

.attribution {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
  color: #2d2640;
}
.attribution a {
  color: blue;
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 375px) {
  .navbar {
    max-width: 100%;
    padding: 20px 10px;
    justify-content: space-between;
  }
  .navbar .nav-items {
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    padding: 0;
    margin: 0;
    background: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #2b272f;
  }
  .navbar .nav-items .nav-link {
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
  }
  .navbar .nav-items #viewPlans {
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    transition: background-color 0.4s ease;
    transition: color 0.4s ease;
    width: 75%;
  }
  .navbar .menuToggleIcon {
    display: block;
  }

  .introSection {
    width: 100%;
    height: 900px;
    background: #2d2640;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 0;
  }
  .introSection .line {
    display: none;
  }
  .introSection .leftShape {
    display: none;
  }
  .introSection .leftSection {
    background: url(../images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    order: 2;
    width: 100%;
    height: 500px;
    justify-content: center;
    padding: 0;
  }
  .introSection .leftSection .headingDesc h1 {
    text-align: center;
    font-size: 40px;
  }
  .introSection .leftSection .headingDesc h6 {
    font-size: 14px;
    width: 75%;
    text-align: center;
    align-self: center;
  }
  .introSection .leftSection .headingDesc .viewPlans {
    align-self: center;
  }
  .introSection .pic {
    width: 100%;
    order: 1;
  }
  .introSection .rightShape {
    display: block;
    position: absolute;
    top: 815px;
    right: 0;
  }

  .featuresSection {
    width: 100%;
    height: 875px;
    padding: 0;
    padding-top: 20px;
    align-items: center;
  }
  .featuresSection .line {
    margin-top: 50px;
  }
  .featuresSection .heading {
    text-align: center;
    font-size: 40px;
  }
  .featuresSection .cards {
    flex-flow: column;
  }
  .featuresSection .cards .card {
    align-items: center;
  }
  .featuresSection .cards .card p {
    text-align: center;
    padding: 0px 10px;
  }

  .howWeWorkSection {
    background: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-color: #2d2640;
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-flow: column;
    justify-content: space-evenly;
  }
  .howWeWorkSection h1 {
    margin: 0;
    width: 100%;
    font-size: 40px;
    text-align: center;
  }

  .footer {
    background: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-color: #fafafa;
    padding: 0;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    height: 800px;
  }
  .footer .footerSocial {
    flex-flow: column;
  }
  .footer .footerSocial .socialLogos {
    margin-top: 20px;
    width: 100%;
  }
  .footer .links {
    width: 100%;
    flex-flow: column;
    align-items: center;
  }
  .footer .links h5 {
    margin: 0;
    text-align: center;
  }
  .footer .links .title {
    margin-top: 25px;
  }

  .attribution {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
    color: #2d2640;
  }
  .attribution a {
    color: blue;
    text-decoration: none;
  }
  .attribution a:hover {
    text-decoration: underline;
  }
}

/*# sourceMappingURL=responsive.css.map */
